<!doctype html>
<html lang="en">
{set:$id=IReq::get('product_id');$oId=IReq::get('order_id');$total = IReq::get('pay_total');$jsApiParameters=IReq::get('jsApiParameters');$para = json_decode($jsApiParameters, true);$pay_level=IReq::get('pay_level');$signature=$this->signature;}
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<head>
	<meta charset="UTF-8">
	<title>微信支付</title>
    <script type="text/javascript">
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
         appId : "{$para['appId']}",     //公众号名称，由商户传入     
         timestamp:"{$para['timeStamp']}",         //时间戳，自1970年以来的秒数     
         nonceStr : "{$para['nonceStr']}",// 必填，生成签名的随机串
        signature: "{$signature}",// 必填，签名，见附录1
        jsApiList: ['checkJsApi','chooseWXPay'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });   
    wx.ready(function(){
        if (typeof(WeixinJSBridge) == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    });
    //调用微信JS api 支付
    function jsApiCall()
    {
        wx.chooseWXPay({
            appId: "{$para['appId']}",
            timestamp: "{$para['timeStamp']}", // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
            nonceStr: "{$para['nonceStr']}", // 支付签名随机串，不长于 32 位
            package: "{$para['package']}", // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
            signType: 'MD5', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
            paySign: "{$para['paySign']}", // 支付签名
            success: function (res) {
                if(res.errMsg == "chooseWXPay:ok" ) {
                    var oId = '{$oId}';
                    var pay_level = '{$pay_level}';
                    var pay_total = '{$total}';
                    var id = '{$id}';
                    $.ajax({
                        type:'post',
                        async:false,
                        data:{oId:oId,pay_level:pay_level,id:id,pay_total:pay_total,payment_id:12},
                        dataType:'json',
                        url:'{url:/block/wecheat_callback}',
                        beforeSend:function(){
                            
                        },
                        success:function(result){
                            alert(result.status)
                            if(result.status == 1)
                            {
                                window.location = result.url;
                            }
                            else
                            {
                                alert(result.msg);
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown){
                            console.info(textStatus);
                        }
                    })
                }else{
                    alert(res.errMsg);
                    window.location = '{url:/ucenter/order}';
                }
            },
            cancel:function(res){
                alert('确定要取消支付吗？')
                window.location = '{url:/ucenter/order}';
            }
        });
    }
    </script>
</head>
<body>
    
</body>
</html>