<!doctype html>
<html lang="en">
{set:$jsApiParameters=IReq::get('jsApiParameters');$pay_level=IReq::get('pay_level');}
<head>
	<meta charset="UTF-8">
	<title>微信支付</title>
    <script type="text/javascript">
 /*   function onBridgeReady(){
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            {$jsApiParameters},
            function(res){     
                if(res.err_msg == "get_brand_wcpay_request：ok" ) {}  
            }
        ); 
     }
    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
     }else{
        onBridgeReady();
     } */
    
    //调用微信JS api 支付
    function jsApiCall()
    {
        var data = '{$jsApiParameters}';
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            data,
            function(res){
                alert(res)
                WeixinJSBridge.log(res.err_msg);
                alert(res.err_code+res.err_desc+res.err_msg);
            }
        );
    }

    window.onload = function()
    {
        alert('aa');
        if (typeof(WeixinJSBridge) == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }    
    </script>
</head>
<body>
    请稍后...
</body>
</html>