<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>活动</title>
    <script src="js/jquery-1.9.1.min.js" type="text/javascript" language="javascript"></script>
    <link rel="stylesheet" type="text/css" href="../skin/black/css/activate.css">
</head>
<body>
<div class="header">
  <div class="header-content">
    <div class="header-logo">
      <img src="../skin/black/images/logo.png"/>
    </div>
    <div class="header-nav ">
      <ul class="nav_ul clear">
        <li><a class="on">首页</a></li>
        <li><a>营销产品</a></li>
        <li><a>团队展示</a></li>
        <li><a>大赛实时播报</a></li>
        <li><a>点此报名</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="center_content"></div>
</body>