<link rel="stylesheet" href="{skin:css/breakfast.css}">
<div class="breakfast_list_top">
	<span class="breakfast_list_span">鑫鑫小区</span>
	<a class="qh_a" href="{url:/site/breakfast}">切换区域</a>
</div>
<div class="wrapper clearfix container_2">
	<div class="sidebar f_l">
		<!--VIP商家排行-->
		<!-- <div class="box m_10">
			<div class="title">VIP商家</div>
			<div class="cont">
				<ul class="list">
				{foreach:items=Api::run('getVipSellerList')}
					<li><a href="{url:/site/home/id/$item['id']}" target="_blank">{$item['true_name']}</a></li>
				{/foreach}
				</ul>
			</div>
		</div> -->
		<!--VIP商家排行-->
	</div>

	<div class="main f_r">
		<div class="box">
			<div class="title">商家列表</div>
			<!--商品列表展示-->
			<div class="cont">
				{set:$queryObj=Api::run('getSellerList');$resultData=$queryObj->find()}
				{if:$resultData}
				<ul class="piclist_2 clearfix">
					{foreach:items=$resultData}
					<li>
						<div class="seller_logo"><img src="{skin:images/201506110111392092.jpg}"/></div>
						<div class='titles' style='overflow:hidden'>
							<a href="{url:/site/home/id/$item['id']}" target="_blank">{$item['true_name']}</a>
						</div>
						<div class='t_l block'>
							评分：
							<span class="grade">
							<i style="width:{echo:Common::gradeWidth(statistics::gradeSeller($item['id']))}px"></i>
							</span>
						</div>
						<div class='t_l block'>销量：{echo:statistics::sellCountSeller($item['id'])} 件</div>
						<div class='t_l block'></div>
						<h3><a href="{url:/site/breakfast_seller_home/id/$item[id]}" class="orange" target="_blank">进入店铺</a></h3>
					</li>
					{/foreach}
				</ul>
				{$queryObj->getPageBar()}
				{else:}
				<p class="display_list mt_40 m_15">
					<strong class="gray f14">对不起，当前系统没有商家</strong>
				</p>
				{/if}
			</div>
			<!--商品列表展示-->
		</div>
	</div>
</div>