<link rel="stylesheet" href="{skin:css/breakfast.css}">

<div class="breakfast_region">
	<div class="breakfast_nav">
	<form   method="post">
		<div class="break_nav_select">
			<span class="select_title">区域选择</span>
			<select class="select_first">
				<option>矿区</option>
				<option>郊区</option>
				<option>开发区</option>
			</select>
			<select class="select_two">
				<option>小区1</option>
				<option>小区2</option>
				<option>小区3</option>
			</select>
			<input class="button_ok" type="button" name="" value="确定">
			<span class="select_title">直接搜索</span>
			<input type="text" name="" class="search_text">
			<input class="button_ok" type="button" name="" value="确定">
		</div>
	</form>
	</div>
	<div class="break_nav_lately">
		<span class="lately_span">最近访问</span>
		<a class="lately_info" href="{url:/site/breakfast_seller}">鑫鑫小区</a>
		<a class="lately_info">小区2</a>
		<a class="lately_info">小区3</a>
	</div>
	<div class="break_center">
		<span class="break_center_p"><i class="jt_icon"></i>请选择区域</span>

		<div class="region_a clear">
			<div class="region_a_left"><span>矿区</span></div>
			<div class="region_a_right">
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1ww</a>
			<a>小区1</a>
			<a>小区1sss</a>
			<a>小区s1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
			<a>小区1</a>
		</div>
			
		</div>
		<div class="region_a clear">
			<div class="region_a_left"><span>郊区</span></div>
			<div class="region_a_right">
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1ww</a>
				<a>小区1</a>
				<a>小区1sss</a>
				<a>小区s1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
			</div>
			
		</div>
		<div class="region_a clear">
			<div class="region_a_left"><span>开发区</span></div>
			<div class="region_a_right">
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1ww</a>
				<a>小区1</a>
				<a>小区1sss</a>
				<a>小区s1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
				<a>小区1</a>
			</div>
			
		</div>
	</div>
</div>