<link rel="stylesheet" href="{skin:css/breakfast.css}">

<div class="breakfast_region">
	<div class="breakfast_nav">
	<form   method="post">
		<div class="break_nav_select">
			
			<span class="select_title">直接搜索</span>
			<input type="text" name="" class="search_text">
			<input class="button_ok" type="button" name="" value="确定">
		</div>
	</form>
	</div>
	<div class="break_nav_lately">
		<span class="lately_span">最近访问</span>
		<a class="lately_info" href="{url:/site/breakfast_list} ">鑫鑫小区</a>
		<a class="lately_info">小区2</a>
		<a class="lately_info">小区3</a>
	</div>
	<div class="break_model clear">
		<div class="break_con">
			<div class="model">
				<a class="model_title"><b>1</b><span>鑫鑫小区</span></a>
			</div>
			<div class="classification">
				<ul class="classification_ul">
					<li><a href="{url:/site/breakfast_list}">粮油</a></li>
					<li><a href="{url:/site/breakfast_list}">早餐</a></li>
					<li><a href="{url:/site/breakfast_list}">生鲜</a></li>
					<li><a href="{url:/site/breakfast_list}">日用品</a></li>
				</ul>
			</div>
		</div>
		<div class="break_con">
			<div class="model">
				<a class="model_title"><b>2</b><span>鑫鑫小区</span></a>
			</div>
			<div class="classification">
				<ul class="classification_ul">
					<li><a href="{url:/site/breakfast_list}">粮油</a></li>
					<li><a href="{url:/site/breakfast_list}">早餐</a></li>
					<li><a href="{url:/site/breakfast_list}">生鲜</a></li>
					<li><a href="{url:/site/breakfast_list}">日用品</a></li>
					<li><a href="{url:/site/breakfast_list}">粮油</a></li>
					<li><a href="{url:/site/breakfast_list}">早餐</a></li>
					<li><a href="{url:/site/breakfast_list}">生鲜</a></li>
					<li><a href="{url:/site/breakfast_list}">日用品</a></li>
					<li><a href="">粮油</a></li>
					<li><a href="">早餐</a></li>
					<li><a href="">生鲜</a></li>
					<li><a href="">日用品</a></li>
				</ul>
			</div>
		</div>
		<div class="break_con">
			<div class="model">
				<a class="model_title"><b>3</b><span>鑫鑫小区</span></a>
			</div>
			<div class="classification">
				<ul class="classification_ul">
					<li><a href="">粮油</a></li>
					<li><a href="">早餐</a></li>
					<li><a href="">生鲜</a></li>
					<li><a href="">日用品</a></li>
				</ul>
			</div>
		</div>
		<div class="break_con">
			<div class="model">
				<a class="model_title"><b>4</b><span>鑫鑫小区</span></a>
			</div>
			<div class="classification">
				<ul class="classification_ul">
					<li><a href="">粮油</a></li>
					<li><a href="">早餐</a></li>
					<li><a href="">生鲜</a></li>
					<li><a href="">日用品</a></li>
				</ul>
			</div>
		</div>


	</div>
	
		
	</div>
</div>