<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>活动</title>
    <script src="../javascript/jquery1.9.0.min.js" type="text/javascript" language="javascript"></script>
    <script src="../javascript/competition.js" type="text/javascript" language="javascript"></script>
     <link rel="stylesheet" type="text/css" href="../skin/black/css/activate.css">
    <link rel="stylesheet" type="text/css" href="../skin/black/css/competition.css">
    <link rel="stylesheet" type="text/css" href="../skin/black/css/bootstrap.css">
</head>
<body>
<div class="header">
  <div class="header-content">
    <div class="header-logo">
      <img src="../skin/black/images/logo.png"/>
    </div>
    <div class="header-nav ">
      <ul class="nav_ul clear">
        <li><a class="on">首页</a></li>
        <li><a href="">营销产品</a></li>
        <li><a>团队展示</a></li>
        <li><a>大赛实时播报</a></li>
        <li><a>点此报名</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="compet_center">
    <div class="compet_winning">
    	<div class="compet-coin">
    	  <div class="compet_two_coin">
    	  	<img src="../skin/black/images/competition/two_icon.png"/>
    	  </div>
    	  <div class="compet_one_coin">
    	  	<img src="../skin/black/images/competition/one_icon.png"/>
    	  </div>
    	  
    	  <div class="compet_three_coin">
    	    <img src="../skin/black/images/competition/three_icon.png"/>
    	  </div>
    	</div>
    	<div class="compet_text">
    	  <div class="compet_two">
    	  	<p>团队名称</p>
    	  	<p>团队成员：张三、李四、王五五</p>
    	  	<p>营销积分：1000</p>
    	  	<p><a class="blue" href="">前往线上助理</a></p>
    	  </div>
    	  <div class="compet_one">
    	  	<p>团队名称</p>
    	  	<p>团队成员：张三、李四、王五五</p>
    	  	<p>营销积分：1000</p>
    	  	<p><a class="blue" href="">前往线上助理</a></p>
    	  </div>
    	  <div class="compet_three">
    	  	<p>团队名称</p>
    	  	<p>团队成员：张三、李四、王五五</p>
    	  	<p>营销积分：1000</p>
    	  	<p><a class="blue" href="">前往线上助理</a></p>
    	  </div>
    	</div>
    	
    </div>
	<div class="compet_ranking">
		<table class="table table-striped">
		  <thead>
		     <tr>
		       <th>名次</th>
		       <th>团队名称</th>
		       <th>队长</th>
		       <th>积分</th>
		       <th>线上助力</th>
		     </tr>
		   <thead>
		   <tbody>
		     <tr>
		       <td>第4名</td>
		       <td>legend、小雨</td>
		       <td>
		         <div class='captain'><a class="captain_a">legend、小雨</a>
			        <div class="team_member">
                        <div class="member_title">团队成员<a class="esc_icon">x</a></div>
			         	<ul class="member_ul">
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         	</ul>
			        </div>
		         </div>

		       </td>
		       <td>250</td>
		       <td><a class="blue">前往</a></td>
		     </tr>
		     <tr>
		       <td>第5名</td>
		       <td>飞哥精神</td>
		       <td><div class='captain'><a class="captain_a">飞哥精神</a>
			        <div class="team_member">
                        <div class="member_title">团队成员<a class="esc_icon">x</a></div>
			         	<ul class="member_ul">
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         	</ul>
			        </div>
		         </div></td>
		       <td>240</td>
		       <td><a class="blue">前往</a></td>
		     </tr>
		     <tr>
		       <td>第6名</td>
		       <td>飞哥精神</td>
		       <td><div class='captain'><a class="captain_a">飞哥精神</a>
			        <div class="team_member">
                        <div class="member_title">团队成员<a class="esc_icon">x</a></div>
			         	<ul class="member_ul">
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         	</ul>
			        </div>
		         </div></td>
		       <td>240</td>
		       <td><a class="blue">前往</a></td>
		     </tr>
		     <tr>
		       <td>第7名</td>
		       <td>飞哥精神</td>
		       <td><div class='captain'><a class="captain_a">飞哥精神</a>
			        <div class="team_member">
                        <div class="member_title">团队成员<a class="esc_icon">x</a></div>
			         	<ul class="member_ul">
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         		<li><span>队员一</span></li>
			         	</ul>
			        </div>
		         </div></td>
		       <td>240</td>
		       <td><a class="blue">前往</a></td>
		     </tr>
		    <tbody>
        </table>
	</div>
</div>

</body>