<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>活动</title>
    <script src="../javascript/jquery1.9.0.min.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript" src="../javascript/active_menu.js"></script>
    <link rel="stylesheet" type="text/css" href="../skin/black/css/activate.css">
</head>
<body>
<div class="header">
    <div class="header_img"><img class="img" src="../skin/black/images/721.jpg"/></div>
</div>
<!--floor 滚动开始-->
<a href="#" name="comtop" style="display: block;"></a>
<div id="active">
  <ul>
    <!-- <li class="hce_top"><p>潮流新品<br>盛行季</p></li>  -->
    <li><a href="#item1" class="cur">热卖单品</a></li>
    <li><a href="#item2" class="">尖叫秒杀</a></li>
    <li><a href="#item3">温暖上装</a></li>
    <li><a href="#item4">女神裙装</a></li>
    <li><a href="#item5">白搭裤装</a></li>
    <li class="hce_botom"><a href="#comtop">TOP</a></li>
  </ul>
</div>
<!--floor 滚动结束-->
<div id="content">
  <div class="item" id="item1">
    <!--zhogjian商品列表开始-->
    <div class="hotsl_center">
     <div class="hot_sltop">
       <h2>01</h2>
       <h1>热卖单品</h1>
       <h3>HOT SALE PRODUCT</h3>
      </div>

    <div class="hotsl_list">

      <ul>

        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/2029882_883495956.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/2029882_883495956.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/2029882_883495956.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/2029882_883495956.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="item" id="item2">
    <!--zhogjian商品列表开始-->
    <div class="hotsl_center">
     <div class="hot_sltop">
       <h2>02</h2>
       <h1>尖叫秒杀</h1>
       <h3>HOT SALE PRODUCT</h3>
      </div>

    <div class="hotsl_list">

      <ul>

        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/HOT_1.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/2029882_883495956.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/2029882_883495956.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/2029882_883495956.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
        <li>
          <div class="hotsl_poto">
            <a href="#"><img src="../skin/black/images/2029882_883495956.jpg" alt="图片"></a> 
          </div>
          <div class="hotsl_word clear">
            <a href="#" class="hotsl_title"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
            <p class="price">山城价：209.00</p>
            <a class="jrgwc">加入购物车</a><a class="ljgm">立即购买</a>
          </div> 
        </li>
      </ul>
    </div>
  </div>
<!--zhogjian商品列表结束-->  
</div>
</body>