{set:$countData = statistics::sellerAmount($this->seller['seller_id']);}
{set:$seller_id = $this->seller['seller_id']}
{set:$store_num_warning = statistics::getStoreNumWarning($seller_id);}
{js:chart}
<form action="{url:/}" method="get" name="storeNumWarning">
    <input type='hidden' name='controller' value='seller' />
    <input type='hidden' name='action' value='goods_list' />
    <input type='hidden' name='search[go.store_nums]' value=' < {$store_num_warning}' />
</form>
<article class="module width_full">
	<header><h3>概要信息</h3></header>
	<div class="module_content">
		<table class="tablesorter" cellspacing="0">
			<thead></thead>
			<tbody>
				<tr>
					<td>商品总数量：<a href="{url:/seller/goods_list}">{echo:statistics::goodsCount($this->seller['seller_id'])} 件</a></td>
                    <td>库存预警：{query:name=goods fields=count(id) as countNums where=store_nums l $store_num_warning and seller_id eq $seller_id}<a href="javascript:formSubmit('storeNumWarning');">{$item['countNums']}</a>个{/query}</td>
					<td>待回复咨询：<a href="{url:/seller/refer_list}">{echo:statistics::referWaitCount($this->seller['seller_id'])} 条</a></td>
					<td>商品评论数：<a href="{url:/seller/comment_list}">{echo:statistics::commentCount($this->seller['seller_id'])} 条</a></td>
					<td>退款申请：<a href="{url:/seller/refundment_list}">{echo:statistics::refundsCount($this->seller['seller_id'])} 条</a></td>
					<td>总销售量：{echo:statistics::sellCountSeller($this->seller['seller_id'])} 件</td>
					<td>信用评分：{echo:statistics::gradeSeller($this->seller['seller_id'])} 分</td>
				</tr>
			</tbody>
		</table>
	</div>
</article>

<article class="module width_full">
	<header><h3>销售统计</h3></header>
	<div class="module_content">
		<div id="myChart" style="width:100%;min-height:320px;"></div>
	</div>
</article>

<script type='text/javascript'>
//图表生成
$(function()
{
	//图标模板
	userHighChart = $('#myChart').highcharts(
	{
		title:
		{
			text:'销售统计'
		},
		xAxis:
		{
			title:
			{
				text:'时间'
			},
			categories:{echo:JSON::encode(array_keys($countData))},
		},
		yAxis:
		{
			title:
			{
				text:'销售额(元)'
			},
		},
		series:
		[
			{
				name:'销售额',
				data:{echo:JSON::encode(array_values($countData))}
			}
		],
		tooltip:
		{
			valueSuffix:'元'
		}
	});
})
</script>